.header {
    text-align: center;
}

.authCardContainer {
    background-color: rgb(0 212 255 / 20%);
    box-shadow: 0px -2px 2px #00ffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 768px;
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
    margin-bottom: 0;
}

.authCardContainer h1 {
    margin: 0;
    margin-bottom: 20px;
    color: white;
}

.authCardInput {
    background: transparent;
    outline: none !important;
    border: none;
    border-bottom: 1px solid #00ffff;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Economica';
}

.authCardInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00ffffc9;
    opacity: 1; /* Firefox */
  }
  
  .authCardInput::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00ffffc9;
  }
  
  .authCardInput::-ms-input-placeholder { /* Microsoft Edge */
    color: #00ffffc9;
  }
  
.primaryButton {    
    color: #00ffff;
    text-shadow: 0 0 3px #00ffff;
    box-shadow: 0 0 4px #00ffff;
    background-color: #002054;
    border: none;
    height: 50px;
    width: 100%;
    font-family: 'ECONOMICA';
    font-size: 22px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.secondaryButton {    
    color: #002054;
    text-shadow: 0 0 3px #00ffff;
    box-shadow: 0 0 4px #00ffff;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 100%;
    font-family: 'ECONOMICA';
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}
.actionContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.error {
    height: 15px;
    font-size: 15px;
    color: rgb(209, 3, 3);
    margin:0;
    font-weight: bold;
}