body {
    max-width: 768px;
    margin: 0 auto;
}

.dashboardContainer {
    background-color: #1833ff;
    padding-bottom: 50px
}

.topWidget {

    padding: 0 25px;
}

.dashboardHeader {

    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.pageTitle {

    font-size: 48px;
    color: white;
}

.reminderButton {

    background-color: black;
    color: white;
    height: 50px;
    width: 225px;
    border-radius: 10px;
    border: 1px solid black;
}

.profileBox {

    display: flex;
    padding-bottom: 25px;
}

.profileImage {

    width: 75px;
    height: 75px;
    border-radius: 50px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 0
}

.initials {
    margin: 15px;
    font-size: 35px;
}

.profileName {

    margin: auto 0 auto 25px;
    color: white;
    font-size: 24px;
}

.landlordInformationContainer {
    background-color: #0a20d0;
    padding-bottom: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
}

.landLordInformation {

    color: white;
    display: block;
    font-size: 24px;
    margin: auto 0 auto 25px;

}

.middleWidget {

    padding: 0 25px;
    margin-bottom: 25px;
}

.widgetTitle {

    padding: 25px 0;
    font-size: 24px;
    color: white;
}

.profileSubtitle {

    font-size: 18px;
    margin-top: 10px;
}

.landlordButtonContainer {
    display: flex;
    justify-content: space-between;

}

.landlordButtonContainer button {

    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
}

.callLandlordButton {

    border: 1px solid white;
}

.sendSMSButton {

    background-color: #0a20d0;
    border: 1px solid #fff;
    color: white
}

.paymentOptionsContainer {

    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
}

.paymentWidget {

    padding: 40px 25px 0 25px;
    font-size: 18px;
}

.paymentHeaderOptions {

    display: flex;
    justify-content: space-between;
    color: black;
    padding-bottom: 25px;
}

.paymentHeaderOptions .payment {
    color: black
}

.paymentHeaderOptions .history {
    color: #b2b4bc
}

.payRentWidget {

    background: #eff4fd;
    border-radius: 20px;
    padding: 25px;
}

.rentData {
    display: flex;

}

.rentData .rentValues {

    padding-left: 20px;

}

.complaintHeader {

    display: block;
}

.addNewComplaintButton {

    width: 125px;
    height: 100px;
    border-radius: 10px;
    background: #eff4fd;
    margin: 10px 10px 10px 0;
    padding: 10px;

}

.complaintCount {

    width: 125px;
    height: 100px;
    border-radius: 10px;
    background: #eff4fd
}

.complaintCount {


    border-radius: 10px;

    margin: 10px;
    padding: 10px;
}

.complaintWidgets {

    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}

.complaintCount .count {

    font-size: 24px;
    padding-bottom: 5px;
    text-align: center;
    padding-top: 15px;
}

.complaintCount .text {

    font-size: 18px;
    text-align: center;

}

.complaintContainer {

    padding: 50px 25px;
}



.addNewComplaintButton .add {

    font-size: 24px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: black;
    color: white;
    margin: auto;

}

.addNewComplaintButton .addText {

    font-size: 18px;
    text-align: center;
    margin: 10px 0;

}

.circle {
    padding-top: 8px;
}

.securityDepositContainer {
    padding: 25px
}

.securityDepositHeader {}

.securityDepositWidget {

    margin-top: 15px;
    background: #ebfaee;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.securityDepositWidget .dollarAmount {

    color: #0fb622;
    font-size: 36px;
}