@font-face {
	font-family: "Economica";
	src: url("../fonts/Economica/Economica-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Economica";
	src: url("../fonts/Economica/Economica-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Economica";
	src: url("../fonts/Economica/Economica-Italic.ttf") format("truetype");
	font-style: italic;
}

body {
	background-image: url("../images/R3NT_BG.jpg");
	background-size: cover;
	background-position: center;
	font-family: "Economica";
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

button.primary {
	width: 250px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
}

button.primary.white {
	background: white;
	color: #0a20d0;
}

.lightblue {
	color: #00ffff;
}

button.primary.outline {
	background-color: #0a20d0;
	border: 1px solid #fff;
	color: white;
}

.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		45deg,
		rgba(2, 0, 36, 0.9) 0%,
		rgba(24, 51, 255, 0.43) 22%,
		rgba(0, 212, 255, 0.43) 53%,
		rgba(24, 51, 255, .43) 77%,
		rgba(2, 0, 36, .9)
	);
	backdrop-filter: blur(5px);
}

.modalBox {
	background: white;
	border-radius: 20px;
	min-height: 200px;
	min-width: 300px;
	padding: 20px;
}
.modalContent::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.modalContent::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

.modalContent::-webkit-scrollbar-thumb {
	background-color: #00ffff;
	box-shadow: 0 0 5px#00ffff;
	border-radius: 3px;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.5, transparent),
		to(transparent)
	);
}

.modalContent {
	max-height: 90vh;
	overflow-x: hidden;
}

.page {
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background: #1833ff6e;
	background: linear-gradient(
		45deg,
		rgba(2, 0, 36, 0.9) 0%,
		rgba(24, 51, 255, 0.43) 22%,
		rgba(0, 212, 255, 0.43) 53%,
		rgba(24, 51, 255, .43) 77%,
		rgba(2, 0, 36, .9)
	);
}

.logo {
	text-shadow: 0 0 5px #00ffff;
	font-size: 48px;
	color: white;
	font-weight: bold;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
}

.lds-ripple div {
	position: absolute;
	border: 2px solid #00ffff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.75s;
}

@keyframes lds-ripple {
	0% {
		top: 12px;
		left: 12px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0px;
		left: 0px;
		width: 24px;
		height: 24px;
		opacity: 0;
	}
}
