.modalContent {
	display: flex;
	flex-direction: column;
}

.modalBox {
	background: #001c5a80;
	box-shadow: 0 0 10px #00ccff;
	border: 1px solid #00ffff;
	color: #00ffff;
}
.primaryButton {
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: none;
	height: 50px;
	width: 100%;
	font-family: 'ECONOMICA';
	font-size: 22px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.secondaryButton {
	color: #002054;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: transparent;
	border: none;
	height: 50px;
	width: 100%;
	font-family: 'ECONOMICA';
	font-size: 22px;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.actionContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin-top: 40px;
}
.profileImage {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	text-align: center;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	margin-bottom: 20px;
}

.initials {
	font-size: 50px;
}

.cardInput {
	background: transparent;
	outline: none !important;
	border: none;
	border-bottom: 1px solid #00ffff;
	width: 100%;
	font-size: 20px;
	margin-bottom: 20px;
	color: #00ffff;
	font-family: 'Economica';
}

.cardInput::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #00ffffc9;
	opacity: 1; /* Firefox */
}

.cardInput::-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #00ffffc9;
}

.cardInput::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #00ffffc9;
}

.cardInputLabel {
	font-size: 20px;
	margin-bottom: 20px;
}
.link {
	text-align: center;
	padding: 20px;
	padding-top: 0;
	color: #00ffff;
	font-size: 20px;
	font-weight: 900;
}
