.modalContent {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.modalBox {
	background: #001c5a80;
	box-shadow: 0 0 10px #00ccff;
	border: 1px solid #00ffff;
	color: #00ffff;
	padding: 10px;
}

.primaryButton {
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: none;
	height: 50px;
	min-height: 50px;
	width: 100%;
	font-family: 'ECONOMICA';
	font-size: 22px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.logoContainer {
	background-color: transparent;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 4px #00ffff;
	color: #002054;
	cursor: pointer;
	display: flex;
	font-family: 'ECONOMICA';
	font-size: 22px;
	font-weight: bold;
	height: 50px;
	justify-content: space-between;
	margin-bottom: 10px;
	margin: 0 10px;
	padding: 5px;
	text-shadow: 0 0 3px #00ffff;
}

.logoContainer img {
	margin-left: 10px;
}

.secondaryButton {
	color: #002054;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: transparent;
	border: none;
	height: 50px;
	min-height: 50px;
	width: 100%;
	font-family: 'ECONOMICA';
	font-size: 22px;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.actionContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin-top: 40px;
}

.profileImage {
	width: 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	border-radius: 50px;
	text-align: center;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	margin-bottom: 20px;
}

.initials {
	font-size: 50px;
}

.cardInput {
	background: transparent;
	outline: none !important;
	border: none;
	border-bottom: 1px solid #00ffff;
	width: 100%;
	font-size: 20px;
	margin-bottom: 20px;
	color: #00ffff;
	font-family: 'Economica';
}

.cardSelect {
	margin-bottom: 0;
}

.cardInput::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #00ffffc9;
	opacity: 1;
	/* Firefox */
}

.cardInput::-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #00ffffc9;
}

.cardInput::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #00ffffc9;
}

.cardInputLabel {
	font-size: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.cardInputLabel img {
	width: 50px;
	opacity: .5;
}

.walletSelected {
	opacity: 1 !important;
}

.walletSelected {
	opacity: 1 !important;
}

.logoContainerWallet {
	background-color: transparent;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 4px #00ffff;
	color: #002054;
	cursor: pointer;
	display: flex;
	font-family: 'ECONOMICA';
	font-size: 22px;
	font-weight: bold;
	justify-content: space-between;
	margin-bottom: 10px;
	text-shadow: 0 0 3px #00ffff;
	width: 100%;
	margin: 0;
	margin-top: 20px;
	padding: 5px;
}

.walletTile img {
	width: 150px;
	display: flex;
	justify-content: center;
	padding: 25px;
}

.walletLabel {
	text-align: center;
	font-size: 36px;
}

.walletName {
	display: flex;
	justify-content: center;
	margin: 10px;
	text-transform: uppercase;
	font-size: 18px;
}

@media only screen and (max-width: 768px) {
	.walletTile img {
		width: 50px;
		padding: 5px;
	}

	.walletLabel {
		font-size: 16px;
	}
}
