.modalBox {
	background: #001c5a80;
	box-shadow: 0 0 10px #00ccff;
	border: 1px solid #00ffff;
	color: #00ffff;
}

.modalContent {
	max-height: 500px;
	overflow-x: hidden;
	padding-right: 20px;
}

.modalContent::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.modalContent::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

.modalContent::-webkit-scrollbar-thumb {
	background-color: #00ffff;
	box-shadow: 0 0 5px#00ffff;
	border-radius: 3px;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.5, transparent),
		to(transparent)
	);
}

.primaryButton {
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: none;
	min-height: 50px;
	width: 100%;
	font-family: 'ECONOMICA';
	font-size: 22px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.secondaryButton {
	color: #002054;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: transparent;
	border: none;
	min-height: 50px;
	width: 100%;
	font-family: 'ECONOMICA';
	font-size: 22px;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.actionContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin-top: 40px;
}
.profileImage {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	text-align: center;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	margin-bottom: 20px;
}

.initials {
	font-size: 50px;
}

.cardInput {
	background: transparent;
	outline: none !important;
	border: none;
	border-bottom: 1px solid #00ffff;
	width: 100%;
	font-size: 20px;
	margin-bottom: 20px;
	color: #00ffff;
	font-family: 'Economica';
}

.cardInput::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #00ffffc9;
	opacity: 1; /* Firefox */
}

.cardInput::-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #00ffffc9;
}

.cardInput::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #00ffffc9;
}

.cardInputLabel {
	font-size: 20px;
	margin-bottom: 0px;
}

.tenantItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tenantList {
	margin-bottom: 20px;
}
