.tenantsContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.tenantsContainer::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

.tenantsContainer::-webkit-scrollbar-thumb {
	background-color: #00ffff;
	box-shadow: 0 0 5px#00ffff;
	border-radius: 3px;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.5, transparent),
		to(transparent)
	);
}

.dashboardContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.dashboardContainer::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

.dashboardContainer::-webkit-scrollbar-thumb {
	background-color: #00ffff;
	box-shadow: 0 0 5px#00ffff;
	border-radius: 3px;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.5, transparent),
		to(transparent)
	);
}

.appContainer {
	max-width: 768px;
	margin: auto;
}

.dashboardContainer {
	height: 100%;
	overflow-x: hidden;
}
.secondaryColor {
	color: #002054;
}

.flexSB {
	display: flex;
	justify-content: space-between;
}
.topWidget {
	/* padding: 0 25px; */
	margin-bottom: 20px;
}

.dashboardHeader {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	flex-wrap: wrap;
}

.pageTitle {
	text-shadow: 0 0 5px #00ffff;
	font-size: 48px;
	color: white;
	font-weight: bold;
}

.primaryButton {
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	height: 50px;
	width: 225px;
	font-family: 'ECONOMICA';
	font-size: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.secondaryButton {
	color: #002054;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: transparent;
	border: none;
	height: 50px;
	width: 225px;
	font-family: 'ECONOMICA';
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.profileBox {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 10px;
}

.profileImage {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	border-radius: 50px;
	text-align: center;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	font-size: 30px;
	text-transform: uppercase;
}

.initials {
	font-size: 25px;
}

.profileName {
	margin: auto 0;
	color: white;
	font-size: 40px;
	margin-bottom: 10px;
}

.tenantsContainer {
	display: flex;
	margin-bottom: 40px;
	padding: 0 0px 20px 20px;
	overflow-y: hidden;
}

.tenantContainer {
	width: 200px;
	background: #ffffff2e;
	border: 2px solid #00000012;
	color: black;
	border-radius: 20px;
	padding: 20px 30px;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.landlordInformationContainer {
	background-color: rgb(0 212 255 / 20%);
	box-shadow: 0px 0px 10px #00ffff;
	border: 1px solid #00ffff;
	padding-bottom: 50px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	height: 100%;
}

.landLordInformation {
	color: white;
	flex-direction: column;
	display: flex;
	font-size: 24px;
	/* margin: auto 0 auto 25px; */
	text-align: center;
	justify-content: center;
	margin-left: 10px;
}

.middleWidget {
	padding: 0;
	margin-bottom: 25px;
}

.widgetTitle {
	padding: 20px;
	font-size: 30px;
	color: #002054;
	font-weight: bold;
	text-shadow: 0 0 3px #00ffff;
}

.tenantBox {
	display: flex;
	text-align: center;
}

.profileSubtitle {
	font-size: 18px;
	margin: 10px 0;
	text-align: center;
	color: white;
}

.landlordName {
	color: #002054;
	font-weight: bold;
}

.landlordButtonContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	align-items: center;
}

.callLandlordButton {
	border: 1px solid white;
}

.sendSMSButton {
	background-color: #0a20d0;
	border: 1px solid #fff;
	color: white;
}

.paymentOptionsContainer {
	background-color: #ffffff9e;
	box-shadow: 0px -2px 5px #82d7ff;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.paymentWidget {
	padding: 40px 25px 0 25px;
	font-size: 18px;
}

.paymentHeaderOptions {
	display: flex;
	justify-content: space-between;
	color: black;
	padding-bottom: 25px;
}

.paymentHeaderOptions .payment {
	color: black;
}

.paymentHeaderOptions .history {
	color: #b2b4bc;
}

.payRentWidget {
	background: #eff4fd;
	border-radius: 20px;
	padding: 25px;
}

.rentData {
	display: flex;
}

.rentData .rentValues {
	padding-left: 20px;
}

.complaintHeader {
	display: block;
}

.addNewComplaintButton {
	width: 125px;
	height: 100px;
	border-radius: 10px;
	background: #eff4fd;
	margin: 10px 10px 10px 0;
	padding: 10px;
}

.complaintCount {
	width: 125px;
	height: 100px;
	border-radius: 10px;
	background: #eff4fd;
}

.complaintCount {
	border-radius: 10px;

	margin: 10px;
	padding: 10px;
}

.complaintWidgets {
	display: flex;
	padding-top: 25px;
	align-items: center;
	justify-content: center;
}

.complaintCount .count {
	font-size: 24px;
	padding-bottom: 5px;
	text-align: center;
	padding-top: 15px;
}

.complaintCount .text {
	font-size: 18px;
	text-align: center;
}

.complaintContainer {
	padding: 50px 25px;
}

.addNewComplaintButton .add {
	font-size: 24px;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: black;
	color: white;
	margin: auto;
}

.addNewComplaintButton .addText {
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
}

.circle {
	padding-top: 8px;
}

.securityDepositContainer {
	padding: 25px;
}

.securityDepositHeader {
}

.securityDepositWidget {
	margin-top: 15px;
	background: #ebfaee;
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.securityDepositWidget .dollarAmount {
	color: #0fb622;
	font-size: 36px;
}
