.masterContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.masterContainer::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

.masterContainer::-webkit-scrollbar-thumb {
	background-color: #00ffff;
	box-shadow: 0 0 5px#00ffff;
	border-radius: 3px;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.5, transparent),
		to(transparent)
	);
}

.appContainer {
	max-width: 768px;
	margin: auto;
}

a.primaryButton {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.secondaryButton {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.masterContainer {
	height: 100%;
	overflow-x: hidden;
}

.dashboardContainer {
	/*  background-color: rgb(0 212 255 / 20%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #00ffff;
    box-shadow: 0px 0px 10px #00ffff;
    height: 100%;
    padding-bottom: 50px; */
}

.topWidget {
	padding: 0;
}

.dashboardHeader {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
	align-items: center;
}

.pageTitle {
	text-shadow: 0 0 5px #00ffff;
	font-size: 48px;
	color: white;
	font-weight: bold;
}

.profileBox {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 10px;
	display: flex;
	padding-bottom: 20px;
}

.profileBox2 {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0 10px;
	display: flex;
	padding-bottom: 30px;
}

.profileBox3 {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0px;
	display: flex;
	margin-bottom: 20px;
}

.reminderButton {
	background-color: black;
	color: white;
	height: 50px;
	width: 225px;
	border-radius: 10px;
	border: 1px solid black;
}

.profileImage {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	text-transform: uppercase;
}

.initials {
	margin: 15px;
	font-size: 25px;
}

.profileName {
	margin: auto 0 auto 0;
	color: white;
	font-size: 36px;
}

.landlordInformationContainer {
	background-color: rgb(0 212 255 / 20%);
	box-shadow: 0px 0px 10px #00ffff;
	border: 1px solid #00ffff;
	border-radius: 30px;
	margin-bottom: 50px;
	height: 100%;
}

.landlordInformationContainerNoLandlord {
	background-color: rgb(0 212 255 / 20%);
	box-shadow: 0px 0px 10px #00ffff;
	border: 1px solid #00ffff;

	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	height: 100%;
	display: flex;
	justify-content: center;
}

.landLordInformation {
	color: white;
	display: flex;
	font-size: 48px;
	margin: auto 0 auto 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	width: 100%;
}

.middleWidget {
	padding: 25px;
}

.middleWidgetNoLandlord {
	padding: 0 25px;
}

.widgetTitle {
	font-size: 30px;
	color: #002054;
	font-weight: bold;
	text-shadow: 0 0 3px #00ffff;
}

.profileSubtitle {
	font-size: 24px;
	margin-top: 10px;
}

.landlordButtonContainer {
	display: flex;
	justify-content: space-between;
}

.landlordButtonContainer button {
	width: 250px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
}

.callLandlordButton {
	border: 1px solid white;
}

.sendSMSButton {
	background-color: #0a20d0;
	border: 1px solid #fff;
	color: white;
}

.paymentOptionsContainer {
	background-color: rgb(0 212 255 / 20%);
	box-shadow: 0px 0px 10px #00ffff;
	border: 1px solid #00ffff;
	border-radius: 30px;
	margin-bottom: 50px;
	height: 100%;
}

.paymentWidget {
	padding: 25px;
	font-size: 18px;
}

.paymentHeaderOptions {
	display: flex;
	justify-content: space-between;
	color: black;
	padding-bottom: 25px;
}

.paymentHeaderOptions .payment {
	font-size: 30px;
	color: #002054;
	font-weight: bold;
	text-shadow: 0 0 3px #00ffff;
}

.paymentHeaderOptions .history {
	color: #b2b4bc;
}

.payRentWidget {
	background-color: rgb(0 212 255 / 20%);
	box-shadow: 0px 0px 10px #00ffff;
	border: 1px solid #00ffff;
	padding: 25px;
	border-radius: 30px;
	margin-bottom: 50px;
	height: 100%;
}

.rentData {
	display: flex;
	margin: 15px 0;
}

.rentData .rentValues {
	padding-left: 20px;
}

.complaintHeader {
	display: block;
}

.addNewComplaintButton {
	width: 125px;
	height: 100px;
	border-radius: 10px;
	background: #eff4fd;
	margin: 10px 10px 10px 0;
	padding: 10px;
}

.complaintCount {
	width: 125px;
	height: 100px;
	border-radius: 10px;
	background: #eff4fd;
}

.complaintCount {
	border-radius: 10px;

	margin: 10px;
	padding: 10px;
}

.complaintWidgets {
	display: flex;
	padding-top: 25px;
	align-items: center;
	justify-content: center;
}

.complaintCount .count {
	font-size: 24px;
	padding-bottom: 5px;
	text-align: center;
	padding-top: 15px;
}

.complaintCount .text {
	font-size: 18px;
	text-align: center;
}

.complaintContainer {
	padding: 50px 25px;
}

.addNewComplaintButton .add {
	font-size: 24px;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: black;
	color: white;
	margin: auto;
}

.addNewComplaintButton .addText {
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
}

.primaryButton {
	color: #00ffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: #002054;
	border: 1px solid #00ffff;
	height: 50px;
	width: 225px;
	font-family: 'ECONOMICA';
	font-size: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.secondaryButton {
	color: #ffffff;
	text-shadow: 0 0 3px #00ffff;
	box-shadow: 0 0 4px #00ffff;
	background-color: transparent;
	border: none;
	height: 50px;
	width: 225px;
	font-family: 'ECONOMICA';
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.circle {
	padding-top: 8px;
}

.securityDepositContainer {
	padding: 25px;
}

.securityDepositHeader {
}

.securityDepositWidget {
	margin-top: 15px;
	background: #ebfaee;
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.securityDepositWidget .dollarAmount {
	color: #0fb622;
	font-size: 36px;
}

.listContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.listContainer::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

.listContainer::-webkit-scrollbar-thumb {
	background-color: #00ffff;
	box-shadow: 0 0 5px#00ffff;
	border-radius: 3px;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.5, transparent),
		to(transparent)
	);
}

.listContainer {
	display: flex;
	padding: 0 0px 20px 0px;
	overflow-y: hidden;
}

.listItemContainer {
	width: 200px;
	background: #ffffff2e;
	border: 2px solid #00000012;
	color: black;
	border-radius: 20px;
	padding: 20px 30px;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.listItemButtonContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	align-items: center;
}
